#img(src="/images/logo-purple.png", alt="logo", class="w-full dark:hidden", style="border-radius:4px; width:80%")
#img(src="/images/logo-purple.png", alt="logo", class="w-full hidden dark:block", style="border-radius:4px; width:80%")
span(class="text-black dark:text-white", style="font-size: 1.8em; font-weight: 500")= appName
