header(class="header bg-transparent absolute top-0 left-0 z-40 w-full flex items-center")
  div(class="container")
    div(class="flex mx-[-16px] items-center justify-between relative")
      div(class="px-4 w-60 max-w-full")
        a(href="/", class="w-full block py-8 header-logo")
          include /components/images/brand-logo

      div(class="flex px-4 justify-between items-center w-full")
        include /components/nav/main-nav
        include /components/nav/secondary-nav
