section(id="about", class="pt-[120px]")
  div.container
    div(class="pb-[100px] border-b border-white border-opacity-[.15]")
      div(class="flex flex-wrap items-center mx-[-16px]")

        div(class="w-full lg:w-1/2 px-4")
          div(class="mb-12 lg:mb-0 max-w-[570px] wow fadeInUp", data-wow-delay=".15s")
            h2(class="text-black dark:text-white font-bold text-3xl sm:text-4xl md:text-[45px] lg:text-4xl xl:text-[45px] leading-tight sm:leading-tight md:leading-tight lg:leading-tight xl:leading-tight mb-6")
              | Write code with ease using familiar patterns.
            p(class="font-medium text-body-color text-base sm:text-lg leading-relaxed sm:leading-relaxed mb-11")= appName
              |  brings the ease, familiarity, and simplicity of popular MVC pattern frameworks like Laravel to
              | the Node.js and Express ecosystems.
            div(class="flex flex-wrap mx-[-12px]")

             //- comment start
              div(class="w-full sm:w-1/2 lg:w-full xl:w-1/2 px-3")
                p(class="flex items-center text-body-color text-lg font-medium mb-5")
                  span(class="w-[30px] h-[30px] flex items-center justify-center rounded-md bg-primary bg-opacity-10 text-primary mr-4")
                  Premium quality

              div(class="w-full sm:w-1/2 lg:w-full xl:w-1/2 px-3")
                p(class="flex items-center text-body-color text-lg font-medium mb-5")
                  span(class="w-[30px] h-[30px] flex items-center justify-center rounded-md bg-primary bg-opacity-10 text-primary mr-4")
                  Regular updates
            //- comment end

        div(class="w-full lg:w-1/2 px-4")
          div(class="text-center lg:text-right wow fadeInUp", data-wow-delay=".2s")
            img(src="/images/sample-code-dark.png", alt="sample code", class="max-w-full mx-auto lg:mr-0", style="border-radius:5px")
